/* ===== TABLET VIEW ===== */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-links {
        gap: 1rem;
    }

    .hero-content h1 {
        font-size: 2.4rem;
    }

    .hero-content h2 {
        font-size: 1.3rem;
    }
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 480px) {
    .navbar {
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        height: auto;
        padding: 4rem 1rem;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content h2 {
        font-size: 1.1rem;
    }

    .hero-content p {
        font-size: 0.95rem;
    }
}


@media (max-width: 900px) {
    .about-grid {
        grid-template-columns: 1fr;
    }

    .about-section {
        padding: 50px 6%;
    }

    .about-section h1 {
        font-size: 2rem;
    }

    .about-details {
        grid-template-columns: 1fr;
    }

    .cert-grid {
        grid-template-columns: 1fr;
    }

    .cert-card img {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }
}
